@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    padding-bottom: 200px;
}

/* NAVEGAÇÃO */

.navegacao_principal{
    height: 55px;
    background: linear-gradient(to right, #1C2F40, #1B5959, #208C81);
}

.navegacao_principal ul{
    display: flex;
    list-style: none;
    align-items: center;
    height: 100%;
    width: 100%;
}

.navegacao_principal ul li{
    margin: 0 15px;
    color: white;
    font-family: "Inter", sans-serif;
}

.nav_logo{
    margin-right: auto;
}

.navegacao_principal ul li:nth-child(2){
    margin-left: auto;
}

.nav_logo img{
    height: 50px;
    width: auto;
}

.botao_entrar{
    background-color: #343D59;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-family: "Inter", sans-serif;
}


/* Banner principal Header */

.container_banner{
    background-image: url('../img/mainbanner.png');
    width: 100%;
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: white;
    text-align: center;
    padding: 5px;
}

.container_banner h1{
    font-family: "Oswald", sans-serif;
    margin-bottom: 20px;
}

/* CONTEUDO PRINCIPAL */

.container_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
}

.container_content + .container_content{
    margin-top: 60px;
}

.container_content h2{
    font-family: "inter", sans-serif;
    margin-top: 15px;
    margin-bottom: 20px;
    font-weight: 600;
}

.container_content p{
    font-family: "Inter", sans-serif;
    font-size: 18px;
    line-height: 1.5;
    padding: 10px;
}

.container_content img:nth-child(1){
    margin-top: 50px;
}

.container_content img{
    width: 25%;
}

/* CARDS DE PLANOS E PREÇOS */

.container_All_Cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
}

.container_All_Cards h2{
    font-family: "Inter", sans-serif;
    margin-top: 50px;
    margin-bottom: 8px;
    font-weight: 600;
}

.container_All_Cards> p{
    font-family: "Inter", sans-serif;
    font-size: 17px;
}
.cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
}

.cards ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    width: 100%;
}

.cards h3{
    font-family: "Inter", sans-serif;
    font-weight: 600;
    color: white;
    background-color: #262626;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: last baseline;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
}

.cards .redondo{
    background-color:#3daea3;
    width: 100px;
    position: relative;
    top: 30px;
    z-index: 2;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-family: "Inter", sans-serif;
    color: white;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8);
}

.cards .know_more{
    width: 100%;
    text-align: center;
    padding: 20px;
    background-color: #3daea3;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    color: white;
}

.container_Lista_Itens li:not(:last-child){
    border-bottom: 1px solid #faf5f5bc;
}

.container_Lista_Itens li{
    width: 100%;
    text-align: center;
    background-color: #e3dcdc;
    font-size: 18px;
    font-family: "inter", sans-serif;
    padding: 20px;
}

.cards .redondo2{
    background-color:#E07263;
    color: white;
    width: 100px;
    position: relative;
    top: 30px;
    z-index: 2;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-family: "Inter", sans-serif;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8);
}

.cards .know_more2{
    width: 100%;
    text-align: center;
    padding: 20px;
    background-color: #E07263;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    color: white;
}   

.cards .redondo3{
    color: white;
    width: 100px;
    position: relative;
    top: 30px;
    z-index: 2;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-family: "Inter", sans-serif;
    background-color: #E06378;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8);
}

.cards .know_more3{
    width: 100%;
    text-align: center;
    padding: 20px;
    background-color: #E06378;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    color: white;
}

.cards .redondo4{
    background-color:#C763E0;
    color: white;
    width: 100px;
    position: relative;
    top: 30px;
    z-index: 2;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8);
    font-family: "Inter", sans-serif;
}

.cards .know_more4{
    width: 100%;
    text-align: center;
    padding: 20px;
    background-color: #C763E0;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    color: white;
}






